<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.agh.smart_gerrit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="HomeViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="SettingActivity"
            android:parentActivityName="HomeViewActivity" >
        </activity>
        <activity
            android:name="ProjectActivity"
            android:parentActivityName="HomeViewActivity" >
        </activity>

        <service
            android:name="NotificationService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name" >
        </service>

        <activity
            android:name=".ChangeActivity"
            android:label="@string/title_activity_change" >
        </activity>
        <activity
            android:name=".ChangeDiffActivity"
            android:label="@string/title_activity_change_diff" >
        </activity>
    </application>

</manifest>